# ==========================================
# Nextcloud AIO Environment Configuration
# ==========================================

# Path for the Nextcloud backup directory
# Example: /mnt/backup/nextcloud
NEXTCLOUD_BACKUP_DIR=/your/path/to/backup

# Path for the Nextcloud data directory
# Example: /mnt/nas/nextcloud-data
# WARNING: Do not change this value after the initial Nextcloud installation!
NEXTCLOUD_DATADIR=/your/path/to/data